

<!-- BLOG -->
<div *ngIf="!isLoading && blog" class="container my-5">

  <div class="row">

    <div class="col-lg-8">

      <section class="blog-details section">

        <article class="article">

          <div class="post-img mb-3">
            <img [src]="blog!.coverImage" class="img-fluid rounded">
          </div>

          <h2 class="title mb-3">
            {{ blog!.title }}
          </h2>

          <div class="meta-top mb-3">

            <ul class="list-unstyled d-flex flex-wrap gap-3">

              <li class="d-flex align-items-center">
                <i class="bi bi-person me-2"></i>
                {{ blog!.user?.firstName }} {{ blog!.user?.lastName }}
              </li>

              <li class="d-flex align-items-center">
                <i class="bi bi-clock me-2"></i>
                {{ blog!.createdAt | date:'dd.MM.yyyy' }}
              </li>

              <li class="d-flex align-items-center">
                <i class="bi bi-chat-dots me-2"></i>
                {{ blog!.comments?.length || 0 }} Yorum
              </li>

            </ul>

          </div>

          <div class="content">

            <img [src]="blog!.blogImage" class="img-fluid rounded mb-3">

            <p>
              {{ blog!.description }}
            </p>

          </div>

          <div class="meta-bottom mt-4">

            <i class="bi bi-folder me-2"></i>

            <ul class="cats list-inline mb-0">

              <li class="list-inline-item">
                {{ blog!.category?.categoryName }}
              </li>

            </ul>

          </div>

        </article>

      </section>

      <!-- COMMENTS -->
      <section class="blog-comments section mt-5">

        <h4 class="mb-4">
          {{ blog!.comments?.length || 0 }} Yorum
        </h4>

        <div *ngFor="let item of blog!.comments" class="comment mb-4 p-3 border rounded">

          <div class="d-flex">

            <div class="comment-img me-3">
              <img src="assets/img/blog/comments-1.jpg" width="60" class="rounded-circle">
            </div>

            <div>

              <h5 class="mb-1">
                {{ item.firstName }} {{ item.lastName }}
              </h5>

              <small class="text-muted d-block mb-2">
                {{ item.commentDate | date:'dd.MM.yyyy HH:mm' }}
              </small>

              <p class="mb-0">
                {{ item.body }}
              </p>

            </div>

          </div>

        </div>

      </section>

      <!-- COMMENT FORM -->
      <comment-form [blogId]="blog!.id"></comment-form>

    </div>

    <!-- SIDEBAR -->
    <div class="col-lg-4 sidebar">

      <div class="widgets-container">

        <div class="recent-posts-widget widget-item p-3 border rounded">

          <h3 class="widget-title mb-4">
            Son Yazılar
          </h3>

          <div *ngFor="let item of latestBlogs" class="post-item d-flex mb-3">

            <img [src]="item.coverImage" width="80" class="me-3 rounded">

            <div>

              <h4 class="fs-6 mb-1">
                <a [routerLink]="['/blogdetails', item.id]">
                  {{ item.title }}
                </a>
              </h4>

              <small class="text-muted">
                {{ item.createdAt | date:'dd.MM.yyyy' }}
              </small>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


