


<!-- Slider Section -->
<section id="slider" class="slider section dark-background">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper init-swiper">
      <div class="swiper-wrapper">
        @for (item of latestBlogs; track $index) {
        <div class="swiper-slide" style="background-image: url('{{item.coverImage}}');">
          <div class="content">
            <h2><a [routerLink]="['/blogdetails/',item.id]">{{item.title}}</a></h2>
            <p>{{item.description | slice:0:150}}</p>
          </div>


        </div>
        }
      </div>


      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section id="home-about" class="home-about section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-0 align-items-center about-preview-wrap">
      <div class="col-lg-5">
        <img [src]="aboutPreview.imageUrl || 'assets/img/about-company-1.jpg'" class="img-fluid about-preview-image" alt="Hakkımızda">
      </div>
      <div class="col-lg-7">
        <div class="about-content-card">
          <p class="eyebrow">Hakkımızda</p>
          <h2>{{aboutPreview.title}}</h2>
          <p>{{aboutPreview.description | slice:0:260}}...</p>
          <a routerLink="/about" class="about-link">Devamını Oku <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
@for (item of categoriesWithBlogs; track $index) {
<section id="culture-category" class="culture-category section">
  <div class="container section-title" data-aos="fade-up">
    <div class="section-title-container d-flex align-items-center justify-content-between">
      <h2>{{item.categoryName}}</h2>
      <p><a href="#">See All {{item.categoryName}}</a></p>
    </div>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-3 align-items-stretch">
       <div class="col-lg-9">
@for (blog of item.blogs; track $index) {
        @if($index===0){
        <div class="d-lg-flex post-entry featured-layout h-100">
           <a [routerLink]="['/blogdetails/',blog.id]" class="me-lg-4 thumbnail mb-4 mb-lg-0 d-inline-block featured-image-wrap">
            <img src="{{blog.coverImage}}" alt="" class="img-fluid featured-image">

          </a>

          <div class="featured-content">
            <div class="post-meta">
              <span class="date">{{item.categoryName}}</span>
              <span class="mx-1">•</span>
             <span>{{blog.createdAt | date}}</span>
            </div>


            <h3><a [routerLink]="['/blogdetails/',blog.id]">{{blog.title}}</a></h3>
            <p>{{blog.description | slice:0:240}}</p>


            <div class="d-flex align-items-center author mt-2">
              <div class="name">
              <h3 class="m-0 p-0">{{blog.user.firstName}} {{blog.user.lastName}}</h3>
              </div>
            </div>
          </div>
        </div>
 }
        }
      </div>

   <div class="col-lg-3">
        @for (blog of item.blogs; track $index) {
        @if($index===1){
        <div class="post-list side-highlight h-100">
          <div class="post-meta">
            <span class="date">{{item.categoryName}}</span>
            <span class="mx-1">•</span>
            <span>{{blog.createdAt | date}}</span>
          </div>

          <h2 class="mb-2 mt-2">
            <a [routerLink]="['/blogdetails/',blog.id]">{{blog.title}}</a>
          </h2>


          <span class="author mb-2 d-block">{{blog.user.firstName}} {{blog.user.lastName}}</span>
          <p class="mb-0 d-block">{{blog.description | slice:0:120}}</p>
        </div>

      }
        }
      </div>


    </div>
  </div>
</section>
}

